.Body {
    margin: 0 auto;
    padding: 0;
}

.App {
    font-family: 'Maven Pro', sans-serif;
    background-color: #faf7f7;
    min-height: 100vh;
  }

a {
    text-decoration: none;
    color: rebeccapurple;
    font-size: small;
}

.Toaster > div {
    border: solid rgb(211, 94, 94) 2px;
    color: rgb(109, 106, 106);
    text-align: center;
    font-size: large;
}