.MagnifyingGlass {
    font-size: x-large;
    margin-top: 20px;
    margin-right: -16px;
    float: right;
}

.SearchBar {
    margin-top: 20px;
    margin-bottom: 16px;
}

.UserSearchQuery {
    position: relative;
    z-index: 3;
}

.Spinner {
    width: 6vw;
    height: 6vw;
    margin: 20px auto;
    
}

.NoTasksBox {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: larger;
}

.RequestsBox {
    margin-top: 10px;
    margin-left: 0;
    font-size: 160%;
    letter-spacing: 1px;
    width: 80%;
    background-color: none;
    text-decoration: underline;
}

.RequestCard {
    background-color: transparent;
    border: none;
}

.TextBox {
    text-align: center;
}