.Container {
    margin-top: 150px;
    margin-left: 10%;
    width: 80%;
}

.Heading {
    text-align: center;
    font-size: 180%;
    text-transform: capitalize;
    word-spacing: 2px;
}

.Heading:hover {
    color: rgb(211, 94, 94);
}

.TextBody {
    font-size: 160%;
    text-align: center;
}

.DueBox2 {
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 140%;
}

.CreatedAtBox {
    text-align: center;
    margin-top: -24px;
    height: 30px;
    line-height: 30px;
    color: rgb(109, 106, 106);
}

.CompletedBox {
    text-align: center;
    margin-top: -16px;
    margin-bottom: 32px;
    height: 40px;
    line-height: 40px;
    font-size: 120%;
    background-color: rgb(85, 117, 91);
    color: white;
}

.GoBack {
    top: 265px;
    position: absolute;
    font-size: xx-large;
    color: #faf7f7;
    margin-left: 4px;
}

.GoBack:Hover {
    color: rgb(201, 190, 190);
}

.ConfirmButton {
    font-size: larger;
    margin: 4px;
    width: 100%;
}

.CancelButton {
    font-size: larger;
    margin: 4px;
    margin-left: -4px;
    width: 100%;
}

.DeleteButton {
    font-size: larger;
    margin: 4px;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
    color: white;
    background-color: rgb(109, 106, 106);
    border-color: rgb(109, 106, 106);
}

.DeleteButton:Hover {
    color: white;
    background-color: rgb(211, 94, 94);
    border-color: rgb(211, 94, 94);
}

.RejectButton {
    margin-top: 4px;
    margin-left: -4px;
}

.TaskIncomplete {
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-right: 16px;
    color: #faf7f7;
    background-color: rgb(211, 94, 94);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.RequestedUserLink {
    font-size: larger;
    color: rgb(109, 106, 106);
}

.RequestedUserLink:Hover {
    color: rgb(211, 94, 94);
}

.TaskComplete {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: rgb(85, 117, 91);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.TaskNewRequest {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 196, 0);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.Line {
    margin-left: 5%;
    width: 90%;
    height: 3px;
    background-color: rgb(201, 190, 190);
    border-bottom: solid 1px #ece0e0;

}

.Link {
    font-size: medium;
}

@media only screen and (max-width: 380px) {
    .GoBack {
        display: none;
    }
}

@media only screen and (max-width: 575px) {
    .Container {
        margin-top: 5vh;
        width: 90%;
        margin-left: 5%;
    }

    .GoBack {
        top: 160px;
    }

    .ConfirmButton {
        margin-left: 10%;
        width: 80%;
        padding: 20px;
        border-radius: 10px;
    }

    .CancelButton {
        margin-left: 10%;
        width: 80%;
        padding: 10px;
        border-radius: 10px;
    }

    .DeleteButton {
        margin-top: 40px;
        margin-left: 10%;
        width: 80%;
        padding-top: 10px;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 768px) {
    .DeleteButton {
        margin-top: 4px;
    }
}
